// Add variables here
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.cart {
  &-section {
    max-width: 990px;
    margin-left: auto;
    margin-right: auto;
    &--table {
      overflow: hidden;
      overflow-x: auto;
      padding-bottom: 10px;
      margin-bottom: 20px;
      .table {
        border: 1px solid #f2f2f2;
        padding: 0;
        margin: 0;
        th {
          text-align: center;
          white-space: nowrap;
        }
        td {
          white-space: nowrap;
          text-align: center;
          font-size: 16px;
          color: #3e3e3e;
          vertical-align: middle;
          padding-top: 25px;
          padding-bottom: 25px;
          img {
            max-width: 100px;
            height: auto;
          }
          i {
            font-size: 20px;
            color: $primaryColor;
            font-weight: 700;
            cursor: pointer;
            &:hover {
              color: $secondaryColor;
            }
          }
        }
      }
    }
    &--coupon {
      display: flex;
      input {
        border: 1px solid #e3e3e3;
        padding: 15px;
        border-radius: 5px;
        max-width: 220px;
        width: 100%;
        &::placeholder {
          font-size: 16px;
        }
      }
      button {
        margin-left: 20px;
        max-width: 220px;
        width: 100%;
        padding: 15px 50px;
        color: #ffffff;
        background-color: $secondaryColor;
        border-radius: 5px;
        border: 1px solid transparent;
      }
    }
    &--bill {
      max-width: 565px;
      margin-left: auto;
      // padding-bottom: 50px;
      h4 {
        margin-bottom: 25px;
      }
      .subtotal {
        display: flex;
        justify-content: space-between;
        padding: 18px 40px;
        border: 1px solid #e3e3e3;
        h5 {
          font-size: 18px;
          font-weight: 400;
          color: #3e3e3e;
        }
      }
      .total {
        display: flex;
        justify-content: space-between;
        padding: 18px 40px;
        border-left: 1px solid #e3e3e3;
        border-right: 1px solid #e3e3e3;
        border-bottom: 1px solid #e3e3e3;
        margin-bottom: 30px;
        h5 {
          font-size: 18px;
          font-weight: 400;
          color: #3e3e3e;
        }
      }
      .checkoutButton {
        max-width: 260px;
        margin-left: auto;
        button {
          padding: 15px 50px;
          color: #ffffff;
          background-color: $secondaryColor;
          border-radius: 5px;
          border: 1px solid transparent;
        }
      }
    }
  }
}

// Responsive

@include breakpoint-max(767px) {
  .cart {
    &-section {
      &--table {
        .table {
          th {
            font-size: 14px;
          }
          td {
            font-size: 14px;
            img {
              max-width: 80px;
            }
            i {
              font-size: 18px;
            }
          }
        }
      }
      &--coupon {
        margin-bottom: 30px;
        input {
          &::placeholder {
            font-size: 14px;
          }
        }
        button {
          font-size: 14px;
        }
      }
      &--bill {
        max-width: 565px;
        padding-bottom: 0;
        h4 {
          margin-bottom: 15px;
          font-size: 20px;
        }
        .subtotal {
          padding: 16px;
          h5 {
            font-size: 14px;
          }
        }
        .total {
          padding: 16px;
          margin-bottom: 25px;
          h5 {
            font-size: 14px;
          }
        }
        .checkoutButton {
          max-width: 200px;
          font-size: 14px;
          button {
            padding: 15px 30px;
          }
        }
      }
    }
  }
}
@include breakpoint-max(480px) {
  .cart {
    &-section {
      &--coupon{
        margin-bottom: 25px;
        input {
          max-width: 150px;
          padding: 10px 20px;
          &::placeholder {
            font-size: 12px;
          }
        }
        button {
          max-width: 150px;
          padding: 10px 25px;
          font-size: 12px;
          margin-left: 10px;
        }
      }
      &--bill {
        .checkoutButton {
          max-width: 170px;
          font-size: 13px;
          button {
            padding: 12px 20px;
          }
        }
      }
    }
  }
}
