// Add variables here
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

/*************** Home CSS ***************/

// Hero
.hero {
  &-section {
    &__content {
      text-align: center;
      max-width: 960px;
      margin-left: auto;
      margin-right: auto;
      padding-top: 85px;
      padding-bottom: 111px;

      h4 {
        color: #CDCDCD !important;
        font-size: 1.5em;
        margin-bottom: 20px;
        line-height: 1.4;
      }

      h1 {
        color: #ffffff;
        font-size: 4.5em;
        margin-bottom: 30px;
      }

      .main-btn {
        color: #ffffff;
      }
    }

    .hero-carousel {
      .owl-dots {
        position: absolute;
        bottom: 6px;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 0;
      }
    }
  }

  &-info {
    &__content {
      display: flex;

      &>* {
        -ms-flex: 1;
        flex: 1;
        font-size: 16px;
        font-weight: 500;
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;

        &:not(:last-child) {
          border-right: 1px solid #ffffff;
        }
      }
    }
  }
}

//Hot Deals
.hot-deals {
  &__section {
    .time-card {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

}

//Featured Catagory
.featured-category {
  &__grid {
    &--item {
      flex: 0 0 auto;
      width: 20%;

      @include breakpoint-max (991px) {
        width: 33.33%;
      }

      @include breakpoint-max (767px) {
        width: 50%;
      }

      @include breakpoint-max (484px) {
        width: 100%;
      }
    }
  }
}

//Trendening Offer 
.trending {
  &-offers {
    &__section {
      display: flex;
      align-items: center;
      border: 1px solid $borderColor;
      border-radius: 8px;
      background-color: #ffffff;
      padding: 20px 35px 20px 35px;

      &--left {
        padding-right: 15px;

        h3 {
          font-size: 1.5em;
          line-height: 1.4;
          margin-bottom: 15px;
          color: #010101;

        }

        p {
          font-size: 1em;
          line-height: 1.4;
          margin-bottom: 20px;
          color: $grayColor;
          letter-spacing: 0.085em;

        }
      }

      &--right {
        flex: 0 0 auto;
        width: 335px;
      }

    }
  }
}

//Newsletter section
.newsletter-section {
  background: linear-gradient(90.37deg, rgb(222, 223, 225) 51.53%, rgba(222, 223, 225, 0) 56.05%) #DEDFE1;

  &__content {
    padding-left: 55px;
    padding-right: 235px;

    h2 {
      font-size: 2em;
      letter-spacing: 1.48px;
      margin-bottom: 15px;
    }

    p {
      color: #6a6a6a;
      margin-bottom: 22px;
    }

    .custom-input {
      &__append {
        padding: 12px 30px;
        background-color: $secondaryColor;
        color: #ffffff;
      }

      &__group {
        margin-bottom: 8px;

      }

      &__field {
        background-color: #ffffff;
      }

    }
  }

  &__image {
    img {
      max-width: 388px
    }

  }
}

//Article Section
.article-section {
  &__img {
    margin-bottom: 12px;
  }

  &__date {
    font-size: 0.875em;
    color: $secondaryColor;
    margin-bottom: 10px;
  }

  &__head {
    color: $primaryColor;
    margin-bottom: 10px;
    font-size: 1.125em;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__para {
    font-size: 0.875em;
    color: $grayColor;
    margin-bottom: 10px;
    display: -webkit-box;
    overflow: hidden;
    max-height: 78px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  &__button {
    font-size: 0.875em;
    font-weight: 400;
    color: $grayColor;
    border-bottom: 1px solid;
  }
}

// Style the tab content
.new-product__area {
  margin-left: -50px;
  margin-right: -50px;
  padding-left: 50px;
  padding-right: 50px;
  overflow: hidden;
}
.tabcontent {
  display: none;
  opacity: 0;
  transition: opacity 0.3s linear;
  &.active {
    display: block;
    opacity: 1;
  }
}
.featuredtabcontent {
  display: none;
  &.active {
    display: block;
  }
}

// Responsive
@include breakpoint-max(1399px) {
  .newsletter-section {
    &__content {
      padding-left: 55px;
      padding-right: 146px;

    }
  }

  .trending {
    &-offers {
      &__section {
        &--left {
          p {
            letter-spacing: 0.08em;
          }
        }

        &--right {
          width: 259px;
        }
      }
    }
  }
}

@include breakpoint-max(1199px) {
  .trending {
    &-offers {
      &__section {
        &--left {
          h3 {
            font-size: 1.3em;
            line-height: 1.2;
          }

          p {
            line-height: 1.2;
          }
        }

        &--right {
          width: 196px;
        }
      }
    }
  }

  .newsletter-section {
    &__content {
      padding-right: 40px;
    }

    &__image {
      img {
        max-width: 350px
      }
    }
  }
}

@include breakpoint-max(991px) {
  .hero-section__content {
    h1 {
      font-size: 3em;
    }

    h4 {
      font-size: 1.2em;
    }
  }

  .featured-category {
    &__grid {
      &--item {
        width: 33.33%;
      }
    }
  }

  .newsletter-section {
    &__content {
      padding-left: 0;
      padding-right: 0;

      h2 {
        font-size: 1.7em;
        margin-bottom: 10px;

      }

      p {
        margin-bottom: 16px;
      }

      .custom-input {
        &__field {
          padding: 10px 15px;

          &:first-child {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
          }
        }

        &__append {
          padding: 12px 20px;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
        }
      }
    }
  }
}

@include breakpoint-max(767px) {
  .hero-section__content {
    h1 {
      font-size: 2em;
    }

    h4 {
      font-size: 1.1em;
    }
  }

  .featured-category {
    &__grid {
      &--item {
        width: 50%;
      }
    }
  }

  .trending {
    &-offers {
      &__section {
        display: flex;
        flex-direction: column;
        text-align: center;


        &--left {
          order: 2;
          max-width: 100%;
          margin-top: 10px;
          padding-right: 0;

          h3 {

            line-height: 1.2;
            margin-bottom: 10px;
          }

          p {
            line-height: 1.2;
            font-size: 0.9em;
            margin-bottom: 16px;
          }
        }

        &--right {
          width: 255px;
          margin-bottom: 12px;

          .trending__img {
            order: 1;
            object-fit: contain;
            // max-width: 250px;
            //margin-bottom: 12px;

          }
        }
      }
    }
  }

  .newsletter-section {
    &__content {
      h2 {
        font-size: 1.4em;
        margin-bottom: 8px;
      }

      p {
        font-size: 0.9em;
        margin-bottom: 14px;
      }

    }
  }
  .article-section {
    &__date {
      margin-bottom: 6px;
    }
  
    &__head {
      margin-bottom: 6px;
    }
  
    &__para {
      margin-bottom: 6px;
    }
  }
}

@include breakpoint-max(575px) {
  .hero-section__content {
    h1 {
      font-size: 1.5em;
      margin-bottom: 25px;
    }

    h4 {
      font-size: 0.9em;
      margin-bottom: 15px;
    }
  }

  .newsletter-section {
    &__content {
      h2 {
        font-size: 1.4em;
      }
    }
  }
}

@include breakpoint-max(480px) {
  .featured-category {
    &__grid {
      &--item {
        width: 100%;
      }
    }
  }


}

@include breakpoint-min(1600px) {
  .hero {
    &-section {
      height: 735px;
    }
  }
}

@include breakpoint-min(992px) {
  .hot-deals {
    &__carousel {
      .owl-nav {
        position: absolute;
        top: 34%;
        left: 3px;
        display: flex;
        flex-direction: column;
        gap: 15px;


        [class*=owl] {
          position: unset;
          left: auto;
          top: auto;
        }
      }

      &--area {
        padding-left: 75px;
        position: relative;

        .owl-carousel {
          position: unset;
        }
      }
    }
  }

  .trending-category__section {
    .trending--offers {
      &__carousel {

        [class*=owl] {
          top: 40% !important;
        }
      }
    }
  }
}

@include breakpoint-and-orientation-min(992px) {
  .hero {
    &-section {
      // height: 735px;
      height: calc(100vh - var(--nav-height));
      display: flex;
      flex-direction: column;

      .owl {
        &-carousel {
          height: 100%;
          flex: 1;
        }

        &-stage {
          height: 100%;

          &-outer {
            height: 100%;
          }
        }

        &-item {
          height: 100%;
        }
      }

      &__bg {
        height: 100%;
        display: flex;
        align-items: center;
      }
    }
  }
}