// Add variables here
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;


.signIn-section {
    
    &--card {
        max-width: 550px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 8px;
        background-color: #ffffff;
        box-shadow: 0px 0px 6px rgba(108, 115, 122, 0.19);
        padding: 85px 75px;
        &-logo {
            text-align: center;
            img {
                max-width: 220px;
                height: auto;
                margin-bottom: 25px;
            }
        }
        &-input {
            .form {
                &-check__box {
                    margin-bottom: 22px;
                    label {
                        font-size: 16px;
                        padding-left: 20px;
                        &:before {
                            width: 13px;
                            height: 13px;
                            top: 5px;
                        }
                    }
                    p {
                        color: #515A6e;
                    }
                }
            }
            form{
                h4 {
                    color: $primaryColor;
                    font-size: 24px;
                    font-weight: 500;
                    margin-bottom: 50px;
                    text-align: center;
                    width: 100%;
                }
                .forget-pass-title {
                    margin-bottom: 15px;
                }
                .forget-pass-text {
                    font-size: 18px;
                    margin-bottom: 20px;
                    color: $primaryColor;
                }
                button {
                    width: 100%;
                    background-color: $secondaryColor;
                    border: none;
                    padding: 20px;
                    border-radius: 7px;
                    font-size: 16px;
                    margin-bottom: 15px;
                    color: #ffffff;
                }
                p {
                    text-align: center;
                    font-size: 18px;
                    color: gray;
                    a {
                        color: $secondaryColor !important;
                    }
                }
                .custom-input__group {
                    border: 1px solid #e3e3e3;
                    border-radius: 5px;
                    margin-bottom: 20px;
                    .custom-input__prepend {
                        i {
                            font-size: 20px;
                            color: gray;
                            top: 50%;
                            transform: translateY(1px);
                        }
                    }
                    input {
                        &::placeholder {
                            font-size: 16px !important;
                        }
                    }
                }
                .form-header {
                    font-size: 18px;
                    font-weight: 400;
                    color: #252525;
                    margin-bottom: 10px;
                }
            }                
        }
    }
}

// Responsive

@include breakpoint-max(767px) {
    .signIn-section{
        padding-left: 30px;
        padding-right: 30px;
        &--card {
            max-width: 400px;
            padding: 55px 40px;

            &-input {
                max-width: 320px;
                padding: 10px;
                p {
                    font-size: 16px;
                    margin-bottom: 10px;
                }
                form {
                    h4 {
                        font-size: 20px;
                    }
                    .custom-input__group {
                        margin-bottom: 10px !important;
                        input {
                            &::placeholder {
                                font-size: 14px !important;
                            }
                        }
                    }
                    .form {
                        &-check__box {
                            margin-bottom: 20px;
                            label {
                                font-size: 14px;
                                padding-left: 20px;
                                &:before {
                                    width: 11px;
                                    height: 11px;
                                    top: 4px;
                                }
                            }
                            .custom-input__checkbox input:checked ~ label:before {
                                font-size: 10px;
                            }
                        }
                        &-header {
                            font-size: 16px;
                        }
                    }
                    button {
                        padding: 10px;
                        font-size: 14px;
                        margin-bottom: 10px;
                    }
                    p {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
@include breakpoint-max(380px) {
    .signIn-section{
        &--card {
            padding: 25px;
            &-logo {
                img {
                    max-width: 150px;
                    margin-bottom: 10px;
                }
            }
            &-input {
                form {
                    h4 {
                        font-size: 18px;
                    }
                    .form {
                        &-check__box {
                            p {
                                line-height: 1.5 !important;
                            }
                        }
                    }
                }
            }
        }
    }
}