// Add variables here
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
button {
    padding: 0;
    background-color: transparent;
    border: 0;
    &:active, &:focus {
        outline: 0;
        border: 0;
    }
}

// Button CSS
.main-btn {
    padding: 0.9375em 1.875em;
    border-radius: 8px;
    border: 0;
    background-color: $secondaryColor;
    color: #ffffff;
    font-size: 1em;
    transition: all 0.3s linear;
    &__border {
        border: 1px solid $secondaryColor;
        background-color: transparent;
        color: $secondaryColor;
    }
    &:hover {
        background-color: $secondaryColor;
        color: #ffffff;
    }
}

@include breakpoint-max(767px){
    .main-btn {
        padding: 0.6375em 1.175em;
    }

}