// Add variables here
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

// Add styles here
.footer {
    &-customer {
        padding-top: 45px;
        padding-bottom: 20px;
        border-bottom: 1px solid #262626;

        &__item {
            flex: 0 0 auto;
            width: 33.33%;
            display: flex;
            align-items: center;
            margin-bottom: 25px;

            figure {
                flex: 0 0 auto;
                width: 66px;
            }

            &--content {
                padding-left: 40px;

                h3 {
                    font-size: 1.25em;
                    color: $inverseColor;
                    margin-bottom: 10px;
                }

                p {
                    color: #6A6A6A;
                }
            }
        }
    }

    &-info {
        padding-top: 45px;
        padding-bottom: 20px;
        border-bottom: 1px solid #262626;

        &__item {
            margin-bottom: 25px;

            h3 {
                color: $inverseColor;
                font-size: 1.125em;
                font-weight: 500;
                margin-bottom: 20px;
            }

            p {
                color: #6A6A6A;
                margin-bottom: 15px;
            }

            ul:not(.footer-info__item--icon) {
                li {
                   a{
                    color: #6A6A6A;
                   }

                    &:not(:last-child) {
                        margin-bottom: 15px;
                    }
                }
            }

            .custom-input__group {
                width: 100%;
                background-color: #ffffff;
                border-radius: 4px;
                margin-bottom: 15px;

            }

            &--icon {
                li {
                    display: inline-block;
                    margin-right: 5px;

                    a {
                        color: $secondaryColor;
                        font-size: 1.2em;
                    }
                }
            }
        }

        &__left {
            .footer-info__item {
                border-right: 1px solid #262626;
                padding-right: 26%;

                .custom-input {
                    &__append {
                        // padding: 16px 15px 16px 0;
                        font-size: 1.2em;
                    }
                }
            }
        }

        &__right {
            padding-left: 8%;

            .row {
                justify-content: space-between;

                &>* {
                    width: auto;
                }
            }
        }
    }

    &-copyright {
        padding-top: 25px;
        padding-bottom: 25px;

        p {
            color: #6A6A6A;
            text-align: center;
        }
    }
}


// RESPONSIVE STARTS


@include breakpoint-max(1199px) {
    .footer {
        &-customer {
            &__item {
                figure {
                    width: 50px;
                }

                &--content {
                    padding-left: 30px;

                    // h3 {
                    //     font-size: 1.3em;
                    // }
                }
            }
        }

        &-info {
            &__item {
                .custom-input {
                    &__append {
                        padding: 10px 15px 10px 0;
                    }
                    &__field {
                        padding: 10px 15px;
                    }
                }
            }
        }
    }
}

@include breakpoint-max(991px) {
    .footer {
        &-customer {
            &__item {
                width: 50%;

                &--content {
                    h3 {
                        font-size: 1.3em;
                    }
                }
            }
        }

        &-info {
            &__left {
                .footer-info__item {
                    padding-right: 0;
                    border-right: 0;
                    border-bottom: 1px solid #262626;
                    padding-bottom: 45px;
                }
            }

            &__right {
                padding-left: 0;
                padding-top: 20px;
            }
        }
    }
}

@include breakpoint-max(767px) {
    .footer {
        &-customer {
            padding-top: 30px;
            padding-bottom: 5px;

            &__item {
                figure {
                    width: 30px;
                }

                &--content {
                    padding-left: 15px;

                    h3 {
                        font-size: 1.125em;
                        margin-bottom: 15px;
                    }

                    p {
                        font-size: 0.875em;
                    }
                }
            }
        }

        &-info {
            padding-top: 30px;
            padding-bottom: 0;
            //padding-left: 10px;
            //padding-right: 10px;

            &__item {
                margin-bottom: 30px;
                h3 {
                    font-size: 1.125em;
                    margin-bottom: 15px;
                }

                p {
                    font-size: 0.875em;
                    margin-bottom: 10px;
                }
                ul:not(.footer-info__item--icon) {
                    li {
                        &:not(:last-child) {
                            margin-bottom: 10px;
                        }
                    }
                }

                .custom-input {
                    &__group {
                        margin-bottom: 10px !important;
                    }
                }

                &--icon {
                    font-size: 1.2em;

                    i {
                        &:not(:last-child) {
                            margin-right: 6px;
                        }
                    }
                }

                ul {
                    li {
                        font-size: 0.875em;
                    }
                }
            }

            &__right {
                padding-top: 5px;
                padding-left: 0;
                padding-right: 0;
            }

            &__left {
                .footer-info__item {
                    padding-bottom: 30px;
                }
            }
        }

        &-copyright {
            padding-top: 15px;
            padding-bottom: 15px;

            p {
                font-size: 0.875em;
            }
        }
    }
}

@include breakpoint-max(575px) {
    .footer {
        &-customer {
            padding-bottom: 10px;

            &__item {
                width: 100%;
                margin-bottom: 20px;
            }
        }

        &-copyright {
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }
}

@include breakpoint-max(480px) {
    .footer {
        &-info {
            &__right {
                .footer-info__item {
                    width: 100%;
                }
            }
        }
    }
}